.container{
    min-width: 70%;
}

.td-tel{
        display: flex;
        align-items: end;
        flex-direction: column;
}

.titulo {
    font-size: xx-large;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: 50px;
    font-size: smaller;
    text-align: center;
}

.container-img-botoes {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}

.container-botoes {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 50px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: medium;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
    background-color: darkgray;
}

.addContactForm {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.parte-form {
    margin: 10px;
}

.img-button-create{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
}

.button-read{
    display: flex;
    padding: 5px 5px;
    text-decoration: none;
    color: white;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 2px;
}

.button-read:hover {
    background-color: gray;
}

.button-create {
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-create:hover {
    background-color: gray;
}

.img-button-create {
    width: 20px;
    height: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    min-width: 100px;
    border: 1px solid gray;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    text-align: center;

}

ul {
    list-style-type: none;
    padding: 0;
}

.actions-container {
    display: flex;
    gap: 10px;
    justify-content: center
}

/* Media Queries */
 @media(max-width: 1024px){
    .container-img-botoes{
        flex-direction: column;
        align-items: center;
    }
    .container-botoes {
        padding-top: 50px;
        flex-direction: row;
        margin: auto;
    }
    .addContactForm {
            display: flex;
            flex-direction: column;
            align-items: end;
    }

 }

